@using WebApp.Models;
@model List<Category>

@section title {
	<h3>Categories</h3>
}

<ul>
	@foreach(var category in Model)
	{
		// The use of html broke the flow of C#
		<li>
			@category.Name
		</li>
	}
</ul>
